.container {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}
.full-width-table {
  width: 100%;
}

.mat-elevation-z8 {
  overflow: auto auto;
}

.demo-button-container {
  margin: 16px 8px;
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-field {
  padding-top: 10px;
  border-radius: 10px;
}
